:root {
  --container-max: 1280px;
  --container-padding: 1rem;
}

.inner-section {
  max-width: var(--inner-max-width);
  margin-inline: auto;
  padding-inline: var(--inner-padding-x);
}

.container {
  max-width: var(--container-max);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}
