@plugin "daisyui/theme" {
  name: 'bestellapp';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(92% 0.006 264.531);
  --color-base-300: oklch(96% 0.003 264.542);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: #e76c1f;
  --color-primary-content: oklch(98% 0.002 247.839);
  --color-secondary: oklch(96% 0.007 247.896);
  --color-secondary-content: oklch(25% 0.09 281.288);
  --color-accent: #e76c1f;
  --color-accent-content: oklch(98% 0.002 247.839);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(52% 0.105 223.128);
  --color-info-content: oklch(98% 0.002 247.839);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: #e76c1f;
  --color-warning-content: oklch(98% 0.002 247.839);
  --color-error: oklch(52% 0.223 3.958);
  --color-error-content: oklch(98% 0.002 247.839);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
