@plugin "daisyui/theme" {
  name: 'bestellapp';
  default: false;
  prefersdark: false;
  color-scheme: 'light';

  --color-base-100: oklch(98% 0.01 85);
  --color-base-200: oklch(96% 0.012 85);
  --color-base-300: oklch(92% 0.014 85);
  --color-base-content: oklch(22% 0.02 70);

  --color-primary: #e76c1f;
  --color-primary-content: oklch(98% 0.01 90);

  --color-secondary: oklch(90% 0.03 85);
  --color-secondary-content: oklch(22% 0.02 70);

  --color-accent: oklch(70% 0.17 40);
  --color-accent-content: oklch(98% 0.01 90);

  --color-neutral: oklch(30% 0.02 70);
  --color-neutral-content: oklch(98% 0.01 90);

  --color-info: oklch(72% 0.01 80);
  --color-info-content: oklch(22% 0.02 70);

  --color-success: oklch(64% 0.13 150);
  --color-success-content: oklch(98% 0.01 90);

  --color-warning: oklch(78% 0.16 75);
  --color-warning-content: oklch(22% 0.02 70);

  --color-error: oklch(58% 0.21 25);
  --color-error-content: oklch(98% 0.01 90);

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.75rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}
