@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui" {
  themes: all;
}

@import './bestellapp-theme.css';

body {
  font-family: 'Geist Variable', sans-serif;
}

/* Base */
/* @import './base/layout.css'; */
/* @import './base/header.css'; */
/* @import './base/footer.css'; */
/* @import './base/inputs.css'; */

/* Components */
/* @import './base/buttons.css'; */

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';

  --color-base-100: oklch(99% 0.005 85);
  --color-base-200: oklch(97% 0.007 85);
  --color-base-300: oklch(93% 0.01 85);
  --color-base-content: oklch(22% 0.02 70);

  --color-primary: #e76c1f;
  --color-primary-content: oklch(99% 0 0);

  --color-secondary: oklch(88% 0.02 85);
  --color-secondary-content: oklch(22% 0.02 70);

  --color-accent: oklch(72% 0.14 40);
  --color-accent-content: oklch(99% 0 0);

  --color-neutral: oklch(28% 0.02 70);
  --color-neutral-content: oklch(99% 0 0);

  --color-info: oklch(87% 0 223.128);
  --color-info-content: oklch(8.9% 0.041 260.031);

  --color-success: oklch(65% 0.1 150);
  --color-success-content: oklch(98% 0.01 150);

  --color-warning: oklch(78% 0.11 90);
  --color-warning-content: oklch(20% 0.03 80);

  --color-error: oklch(58% 0.16 28);
  --color-error-content: oklch(98% 0.01 28);

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.75rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 0;
  --noise: 0;
}

svg {
  stroke-width: 1.75;
}

html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
