@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui" {
  themes: all;
}

@import './bestellapp-theme.css';

/* Base */
@import './base/layout.css';
@import './base/header.css';
@import './base/footer.css';
@import './base/inputs.css';

/* Components */
@import './base/button.css';
